export(bw.dist.binned)
export(bw.dist.binned.boot)
export(bw.dens.binned)
export(emergence.indices)
import(mclust)
importFrom(Rcpp, evalCpp)
importFrom(Rdpack,reprompt)
useDynLib(binnednp, .registration = TRUE)
